body {
  font: 16pt arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

div.box0 {
  background-color: #D9D9D9;
  border-radius: 22px;
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #39316D;
  margin-bottom: 20px;
}

div.box1 {
  background-color: #4462BC;
  border-radius: 22px;
  width: 90%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Centraliza o botão ⇆ e a box2 */
}

label {
  color: white;
}

input, select {
  font-size: 14pt;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 200px;
  outline: none;
}

div.box2 {
  background-color: #D9D9D9;
  border-radius: 22px;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button#conver {
  font-size: 12pt;
  padding: 5px 15px;
  border: 3px solid #39316D;
  border-radius: 10px;
  cursor: pointer;
}

.linha {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 100%;
  gap: 15px;
  padding-right: 25px;
  margin-top: 15px;
}

.linha label {
  width: 160px;      /* Largura fixa alinha as caixas */
  text-align: right; /* Encosta o texto na caixa */
}

#mudar {
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}